h1
{
	font-size: 15pt;
}
h2
{
	font-size: 12pt;
}
.demoSection
{
}
.demoSection .codeSection
{
	text-align: left;
	overflow: auto;
}
.demoSection .codeSection pre
{
	font: 500 1em/1.5em 'Consolas' , 'Lucida Console' , 'courier new' , monospace;
}
.demoSection .functionalSection
{
}
.demoSection .functionalSection > div
{
	padding: 4px;
	width: 350px;
	background-color: #E0FFE0;
}
.demoSection .functionalSection > div:first-child
{
    font-weight: bold;
    background-color: #E0E0FF;
}
.expandedPart
{
	background-color: Silver;
}
.disabledExpander
{
	color: Gray;
}